<div class="container-fluid">

    <div class="row">
        <h4 class="text-center text-primary m-3">Short URL</h4>
    </div>

    <div class="row shadow mt-3">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-1 mt-1">
                    <input type="text" class="form-control" placeholder="Enter URL" [(ngModel)]="url" aria-label="URL" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-primary" type="button" (click)="generateShortUrl()" id="button-addon2">Generate</button>
                  </div>
            </div>
          </div>
    </div>

    <div class="row shadow mt-3" *ngIf="isUrlGenerated || isErrorGenerated">
        <div class="card">
            <div class="card-body">
                <div *ngIf="isErrorGenerated">
                    <div class="alert alert-danger" role="alert">
                        There was an error. Please enter a valid
                      </div>
                </div>
                <div *ngIf="isUrlGenerated">
                    Short URL : <a href="{{ originalUrl }}" target="_blank">http://localhost:8080/url/shortener/{{ shortUrl }}</a>
                </div>
            </div>
        </div>
    </div>

</div>